.friend-card {
  color: white;
  background-color: rgba(29, 45, 75, 0.884);
  width: 45%;
  margin: 50px auto 0 auto;
  padding: 10px 0 10px 0;
  box-shadow: 5px 5px 4px hsla(165, 66%, 57%, 0.575);
}

.friend-card img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  border-radius: 100%;
}

.friend-card h1:hover{
  color: rgb(0, 255, 55);
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.friend-request{
  color: white
}

.friend-request img{
  border-radius: 100%;
  width: 8%;
  height: 8%;
  margin-right: 10px;
}

.friend-request a:hover{
  color: rgb(39, 218, 39) !important
} 

.login-buttons{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60vh;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20;
}

.landing-title{
  position: absolute;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 54px; 
  font-weight: 300; 
  line-height: 58px;
  letter-spacing: 80px;
  animation: color-change 7s infinite;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp4162395.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.friend-container {
  text-align: center;
  margin: 0 auto 5% auto;
}

.friend-buttons{
  text-align: center;
}

.friend-buttons button{
  margin: 0 8% 2% 8%
}


.ref-ul {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.ref-ul li {
  list-style: none;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
.ref-ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
.ref-ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.ref-ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.ref-ul li a:hover {
  color: rgb(0, 0, 0);
}
.ref-ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.ref-ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.header{
  margin-top: 2%;
  padding: 0 15px 0 10px;
}

.header img {
  background: rgba(76, 175, 80, 0);
}

.exp-header {
  /* animation: color-change 7s infinite; */
  color: greenyellow;
  font-size: 300%;
}

.home-page{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@keyframes color-change {
  0% { color: rgb(255, 0, 0); }
  4% { color: rgb(255, 81, 0); }
  8% { color: rgb(255, 136, 0); }
  12% { color: rgb(255, 174, 0); }
  16% { color: rgb(255, 230, 0); }
  20% { color: rgb(251, 255, 0); }
  24% { color: rgb(208, 255, 0); }
  28% { color: rgb(145, 255, 0); }
  32% { color: rgb(0, 255, 0); }
  36% { color: rgb(0, 255, 85); }
  40% { color: rgb(0, 255, 157); }
  44% { color: rgb(0, 255, 255); }
  48% { color: rgb(0, 217, 255); }
  52% { color: rgb(0, 153, 255); }
  56% { color: rgb(0, 102, 255); }
  60% { color: rgb(0, 26, 255); }
  64% { color: rgb(55, 0, 255); }
  68% { color: rgb(68, 0, 255); }
  72% { color: rgb(119, 0, 255); }
  76% { color: rgb(162, 0, 255); }
  80% { color: rgb(234, 0, 255); }
  84% { color: rgb(255, 0, 255); }
  88% { color: rgb(255, 0, 170); }
  92% { color: rgb(255, 0, 76); }
  96% { color: rgb(255, 0, 0); }
  100% { color: rgb(255, 0, 0); }
}


/* .routesDiv {
  padding-top: 100px
} */

.login-logout {
  width: 50%;
  margin: auto;
  color: white;
  font-family: "Press Start 2P";
}

.login-questions{
  font-size: smaller;
}

.game-search{
  margin-top: 80px;
  text-align: center;
  color: white;
}

.game-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.game-card{
  color: white;
  margin: 10px 2.5% 10px 2.5%;
  padding: 15px 5px 5px 5px;
  width: calc(20% - 10px);
  min-height: 300px;
  /* border-radius: 5px; */
  border-color: black;
  background-color: hsla(0, 1%, 63%, 0.212);
  transition: background-color 500ms, border-color 500ms, box-shadow 500ms;
  box-shadow: 5px 5px 4px hsla(182, 50%, 58%, 0.575);
  position: relative;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.game-card p{
  margin-top: 10px
}

.game-card img{
  /* width: 250px; */
  width: 90%;
}

.game-card:hover{
  background-color: hsl(210, 6%, 93%);
  border-color: hsl(180, 50%, 20%);
  box-shadow: 5px 5px 4px hsla(271, 66%, 57%, 0.575);
  color:rgb(0, 0, 0)
}

.game-details{
  padding: 20px 3% 10px 3%;
  margin: 3% 3% 3% 3%;
  text-align:center;
  color: white;
  background-color: rgba(25, 26, 41, 0.89);
  overflow: hidden;
  box-shadow: 5px 5px 4px hsla(271, 66%, 57%, 0.575);
}

.game-details select{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.game-details img{
  float:left;
  width: 32%;
  margin: 0 2% 2% 5%;
  box-shadow: 5px 5px 4px hsla(271, 66%, 57%, 0.575);
}

.game-details button{
  font-size: 14px
}

.game-details p{
  font-size: 12px;
}

.all-lists{
  text-align: center;
  color: white;
}

.user-page{
  padding: 20px 0 20px 0;
  color: white;
  text-align: center;
  margin: 0 auto 1% auto;
}

.user-page-img{
  border-radius: 100%;
  width: 18%;
}


.my-profile {
  text-align: center;
  color: white;
  padding-top: 35px;
  padding-bottom: 25px;
  background-color: rgba(8, 11, 51, 0.747);
  box-shadow: 5px 5px 4px hsla(261, 80%, 18%, 0.795);
  width: 50%;
  margin: 0 auto 3% auto
}

.my-profile img {
  border-radius: 100%;
  width: 60%;
  height: 60vh;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.message-container {
  width: 70%;
  margin: 0 auto 3% auto;
  text-align: center;
  padding: 8px 10px 8px 10px;
  color: white;
  background-color: #212529;
  box-shadow: 5px 5px 4px hsla(0, 40%, 31%, 0.575);
  max-height: 80vh;
  overflow : auto;
}

.message-container img{
  border-radius: 100%;
  margin: 0 6px 24px 6px;
  width: 130px;
  height: 130px;
}

.message-container time {
  font-size: 8px;
}

.sent-message{
  text-align: right;
  
  /* margin-right: 10%; */
}

.received-message{
  text-align: left;
}

.received-message img:hover{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.received-message a:hover {
  color: rgb(25, 221, 7) !important;
}

.sent-message a:hover {
  color: rgb(25, 221, 7) !important;
}

.message-input-container{
  position: sticky;
  bottom: 0;
}

.message-input{
  display: flex;
  justify-content: center;
}

.message-input input{
  width: 70%;
}



.suggestion-container{
  width: 80%;
  margin: 0 auto 3% auto;
  text-align: center;
  padding: 8px 10px 8px 10px;
  color: white;
  background-color: #212529;
  box-shadow: 5px 5px 4px hsla(0, 40%, 31%, 0.575);
  max-height: 80vh;
  overflow : auto;
}

.suggestion-container img{
  border-radius: 100%;
  margin: 20px 6px 24px 6px;
  width: 130px;
  height: 130px;
}

.suggestion-container time{
  font-size: 8px;
}

.suggestion-bubble{
  text-align: left;
  display: flex;
}

.suggestion-bubble a:hover{
  color: rgb(25, 221, 7) !important;
}


.discover-landing{
  color: white;
  text-align: center;
  margin: 6% 20% 0 20%
}

.discover-landing button{
  margin-top: 3%;
}

























/* -----------------all for the modal: ------------------------ */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  margin-top: 25vh
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-fullscreen .modal-footer {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
}